body {
    --glavna-boja: #c0ca33;
    --glavna-boja-tamna: #8c9900;
    --glavna-boja-svjetla: #f5fd67;
    --sekundarna-boja-tamna: #3c3c3c;
    --sekundarna-boja: #c2c2c2;
    --sekundarna-boja-svjetla: #f0f0f0;
    --boja-uspjeh: #c6f68d;
    --boja-info: #b33d3a;
    --boja-poveznica: #0277bd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}

header {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: var(--glavna-boja-tamna);
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    font-weight: bold;
}

header figure {
    height: 60px;
    width: 60px;
    float: left;
    position: relative;
    margin:15px;
}

header h4 {
    margin: 0px;
    margin-top: 20px;
}

nav {
    position: absolute;
    top:65px;
    bottom: 0px;
    background-color: var(--glavna-boja);
    border: 2px solid var(--sekundarna-boja-tamna);
    border-left: 0px;
    border-bottom: 0px;
    width: 208px;
}

footer {
    position: absolute;
    height: 25px;
    background-color: var(--sekundarna-boja-svjetla);
    bottom: 0px;
    left: 210px;
    right: 0px;
    text-align: end;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: var(--sekundarna-boja-tamna);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

main {
    position: absolute;
    left:210px;
    right: 0px;
    top:65px;
    bottom: 30px;
    padding: 20px;
    background-color: var(--sekundarna-boja-svjetla);
}

main article {
    overflow: auto;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.6);
    border: 1px solid var(--sekundarna-boja);
    border-radius: 5px;
    padding: 10px;
    
}
nav ul {
    list-style: square;
}

nav a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted var(--sekundarna-boja-tamna);
}
nav a:hover {
    color: var(--boja-poveznica);
    text-decoration: underline;
    border: 0px;
}

img {
    width: 100%;
}

main article figure {
    width: 320px;
    height: 260px;
    margin: 0px;
    padding: 10px;
    float: right;
}
main h2 {
    text-align: center;
}
main section {
    margin-top:20px;
    overflow: auto;
}
.lijevo {
    float: left;
}
table {
    font-family: 'Arial';
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

td,
th {
    border: 1px solid var(--sekundarna-boja);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--sekundarna-boja);
    ;
}

.stupac-5 {
    width: 50%;
    float: left;
}
#liste *{
    margin-left: 25px;
}
form table td {
    border: 0px;
    text-align: center;
}



form {
    width: 400px;
    border: 1px double var(--sekundarna-boja);
    border-radius: 5px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.6);
    margin: auto;
}


form input {
    border-width: 0px 0px 2px 0px;
    padding: 1px;
    background-color: transparent;
    border-color: var(--sekundarna-boja-tamna);
}

.pozadina-boja {
    background-color: var(--sekundarna-boja);
}

.prozirno {
    background-color: transparent !important;
}

*[colspan="2"] {
    text-decoration: underline;
    font-weight: bold;
}

.podkategorija {
    font-weight: normal;
}

select[multiple] {
    overflow: hidden;
}

form button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.uspjeh {
    background-color: var(--boja-uspjeh);
    color: black;
}

.info {
    background-color: var(--boja-info);
    color: white;
}