body {
    --glavna-boja: #c0ca33;
    --glavna-boja-tamna: #8c9900;
    --glavna-boja-svjetla: #f5fd67;
    --sekundarna-boja-tamna: #3c3c3c;
    --sekundarna-boja: #c2c2c2;
    --sekundarna-boja-svjetla: #f0f0f0;
    --boja-uspjeh: #c6f68d;
    --boja-info: #b33d3a;
    --boja-poveznica: #0277bd;
    font-family: 'Helvetica', 'Arial';
    margin: 0px;
}

header {
    height: 50px;
    background-color: var(--glavna-boja-tamna);
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

header figure {
    height: 50px;
    width: 70px;
    float: left;
    margin: 0px;
    border-radius: 5px;
    border: 1px black solid;
    margin-right: 15px;
}

header h4 {
    font-size: 45px;
    margin: 0px;
    letter-spacing: -3px;
}

nav {
    position: fixed;
    height: 100%;
    background-color: var(--glavna-boja);
    border-right: 2px solid var(--sekundarna-boja-tamna);
    width: 208px;
    z-index: -1;
}

footer {
    position: fixed;
    height: 25px;
    background-color: var(--sekundarna-boja-svjetla);
    bottom: 0px;
    left: 210px;
    right: 0px;
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 14px;
    color: var(--sekundarna-boja-tamna);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

main {
    position: fixed;
    left: 210px;
    right: 0px;
    top: 70px;
    bottom: 30px;
    padding: 20px;
    background-color: var(--sekundarna-boja-svjetla);
    overflow: auto;
    z-index: -1;
}

main article {
    overflow: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    border: 1px solid var(--sekundarna-boja);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    position: relative;
}

nav ul {
    list-style: none;
    margin-top: 40px;
    padding-left: 0px;
}

nav li {
    border-width: 1px;
    border-color: var(--sekundarna-boja-tamna);
    border-style: groove;
    padding-left: 10px;
    padding-top: 10px;
    height: 30px;
    vertical-align: middle;
    font-weight: bold;
}

nav li:hover {
    background-image:
        linear-gradient(to right,
        var(--glavna-boja-svjetla),
        var(--glavna-boja-tamna)
        );
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: underline;
    border: 0px;
}

img {
    width: 100%;
    height: 100%;
}

main article figure {
    width: 320px;
    height: 260px;
    margin: 0px;
    padding: 10px;
    float: right;
}

main h2 {
    text-align: center;
}

main section {
    margin-top: 20px;
    overflow: auto;
}

.lijevo {
    float: left;
}

table {
    font-family: 'Arial';
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

td,
th {
    border: 1px solid var(--sekundarna-boja);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--sekundarna-boja);
    ;
}

.stupac-5 {
    width: 50%;
    float: left;
}

#liste * {
    margin-left: 25px;
}


form {
    width: 400px;
    border: 1px double var(--sekundarna-boja);
    border-radius: 5px;
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    text-align: center;
}


form input {
    border-width: 0px 0px 2px 0px;
    padding: 1px;
    background-color: transparent;
    border-color: var(--sekundarna-boja-tamna);
}

form select[multiple] {
    overflow: hidden;
    vertical-align: top;
}

form button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

form button:hover {
    border: 2px ridge var(--sekundarna-boja-tamna);
}

.uspjeh {
    background-color: var(--boja-uspjeh);
    color: black;
    float: right;
}

.info {
    background-color: var(--boja-info);
    color: white;
    float: left;
}

.center-text {
    text-align: center;
}

fieldset {
    margin-top: 5px;
}

fieldset fieldset>legend {
    text-align: left;
}

fieldset fieldset {
    border-color: var(--sekundarna-boja);
    border-style: solid;
}

form div.center-text {
    margin-top: 5px;
    margin-bottom: 5px;
}

#obrazac-gumbi {
    position: relative;
    height: 50px;
    padding: 0px 25px;
    margin-top: 20px;
}