#pretvorba-tablica thead{
    background-color:var(--glavna-boja-tamna);
    color: white;
    font-size: 20px;
}

#pretvorba-tablica td,th {
    text-align: center;
    border: none;
}

#pretvorba-tablica table {
    border-collapse: collapse;
}
